<!--this is the base template that allows other templates to inherit core features-->
<!-- the index.html will inherit from this template-->
<html>
 <head>
 	{% if title %}
 	<title>{{title}} - microblog</title>
 	{% else %}
 	<title>Zombocom! - you did not pass me a title</title>
 	{% endif %}
 </head>
 <body>
 	<div>Microblog: <a href="/index">Home</a></div>
 	<hr>
 	 <!-- update to the base template so views inherit flash message display-->
 	{% with messages = get_flashed_messages() %}
 	{% if messages %}
 	<ul>
 	{% for message in messages %}
 		<li>{{ message }}</li>
 	{% endfor %}
 	</ul>
 	{% endif %}
 	{% endwith %}
 	{% block content %}{% endblock %}
 </body>
</html>
